{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <p>HELLO WORLD!</p>

<a href="{% url 'jobs:add' %}"
    class="text-center bg-yellow-600 text-white px-4 py-2 rounded-lg hover:bg-yellow-700 transition flex-1">
    Add Job
</a>

<a href="{% url 'contacts:add' %}"
    class="text-center bg-yellow-600 text-white px-4 py-2 rounded-lg hover:bg-yellow-700 transition flex-1">
    Add contact
</a>

<a href="{% url 'events:add' %}"
    class="text-center bg-yellow-600 text-white px-4 py-2 rounded-lg hover:bg-yellow-700 transition flex-1">
    Add Event
</a> -->
{% endblock %}