# Core dependencies
django>=5.1.4
gunicorn>=23.0.0
whitenoise>=6.8.2
python-dotenv>=1.0.1
dj-database-url>=2.3.0

# Database
psycopg2-binary>=2.9.10

# Storage
django-storages>=1.14.4
boto3>=1.35.97

# Frontend
django-crispy-forms>=2.3
django-browser-reload>=1.17.0
django-tailwind>=3.8.0

# Replace pytorch with CPU-only version
torch>=2.5.1+cpu

