# Core dependencies
django>=5.1.4
gunicorn>=23.0.0
whitenoise>=6.8.2
python-dotenv>=1.0.1
dj-database-url>=2.3.0
requests>=2.31.0
cryptography>=41.0.3

# Database
psycopg2-binary>=2.9.10

# Storage
django-storages>=1.14.4
boto3>=1.35.97

# Frontend
django-crispy-forms>=2.3
django-browser-reload>=1.17.0
django-tailwind>=3.8.0

# Additional dependencies
django-unfold>=0.21.1
django-allauth>=0.65.3
django-allauth[google]>=0.65.3
django-allauth[github]>=0.65.3
django-allauth[openid]>=0.65.3
django-summernote>=0.8.20.0
django-tagulous>=2.1.0
django-widget-tweaks>=1.4.11
django-extensions>=3.2.3
django-htmx>=1.21.0
django-vite>=3.0.6
django-components>=0.125
PyJWT>=2.3.0

# AI Integration
openai>=1.12.0