annotated-types==0.7.0
asgiref==3.8.1
build==1.2.2.post1
click==8.1.7
distro==1.9.0
dj-database-url==2.3.0
Django==5.1.4
django-allauth==65.3.0
django-browser-reload==1.17.0
django-crispy-forms==2.3
django-summernote==0.8.20.0
django-tagulous==2.1.0
django-tailwind==3.8.0
docopt==0.6.2
gunicorn==23.0.0
jiter==0.8.2
openai==1.58.1
pip-tools==7.4.1
pipreqs==0.5.0
psycopg2-binary==2.9.10
pydantic==2.10.3
pydantic_core==2.27.1
pyproject_hooks==1.2.0
python-dotenv==1.0.1
sqlparse==0.5.3
tqdm==4.67.1
whitenoise==6.8.2
yarg==0.1.9